.div-img {
	width: 500px;
	height: 300px;
	border: 1px solid #000;
	background-repeat: no-repeat;
	background-position: 50%;
}

body {
	background-image: url(../../html/img/meerkat.png)
	,url(../../html/img/pig.png);
	background-size: cover;
}