div {
	width: 400px;
	height: 200px;
	border: 2px solid #000;
	margin: 10px;
}

.div-1 {
	background: linear-gradient(
		to right
		, red
		, orange
		, yellow
		, green
		, blue
		, navy
		, purple
	);
}

.div-2 {
	background: radial-gradient(
		circle
		, white
		, black
	);
}