* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Gaegu', sans-serif;
}

button {
	cursor: pointer;
	border: none;
	background-color: transparent;
}

.section {
	width: 1300px;
	height: 80px;
	text-align: center;
	margin: 50px auto 0 auto;
}

.year {
	font-size: 50px;
	display: inline-block;
	float: left;
}

.month {
	font-size: 40px;
	display: inline-block;
	margin-top: 5px;
}

a {
	text-decoration: none;
	color: #000;
}

.write {
	width: 100px;
	height: 40px;
	float: right;
	margin: 10px 0 0 0;
	font-size: 30px;
}

.section2 {
	background-color: rgb(206, 255, 255);
	width: 1300px;
	height: 800px;
	margin: 30px auto;
}

.content {
	border: 1px solid #000;
	display: inline-block;
	width: 150px;
	height: 130px;
	text-align: center;
	margin: 14px;
	line-height: 50px;
}